@import 'variable';
@font-face{
    font-family: 'Proxima Nova';
    src: url('./font/proxima-nova-reg.ttf');
}
.header{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid $outline-color;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.address-container{
    @include flexbox($justify: start);
    padding: 8px 0;
    & p{
        color: $secondary-color;
        font-size: $fontS;
    }
}
.address-button{
    @include flexbox;
    background-color: #fff;
    border: none;
    & p{
        color: $primary-color;
        font-weight: bolder;
        font-size: $fontL
    }
}

.back-arrow{
    @include flexbox;
    min-width: 50px;
    fill: $primary-color;
}
.down-arrow{
    fill: $button-color;
}
.date-container{
    position: fixed;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    & ul{
        list-style-type: none;
    }
    & li{
        display: inline-flex;
    }
    & button{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: none;
        margin: 0 4px;
        @include flexbox($dir: column);
        background-color: rgba(255, 255, 255, 0);
        & p:first-child{
            font-size: $fontS;
        }
        & p:last-child{
            font-size: $fontM;
            font-weight: bolder;
        }
    }
    .btn-active{
        background-color: $primary-color;
        & p{
            color: #fff;
        }
    }
}
button, input{
    font-family:'Proxima Nova','Nunito Sans', sans-serif;
}
.time-selector{
    position: fixed;
    top: 120px;
    width: 100%;
    height: 60px;
    @include flexbox;
    background-color: #fff;
    z-index: 1;
    & button{
        width: 45%;
        padding: 8px 0;
        @include flexbox;
        background-color: #fff;
        border: 1px solid $outline-color;
        color: $secondary-color;
        font-size: $fontM;
    }
    & button:first-child{
        border-radius: 8px 0 0 8px;
    }
    & button:last-child{
        border-radius: 0 8px 8px 0;
    }
    & .active{
        background-color: $primary-color;
        color: #fff;
    }
}
.scroll-visible {
    visibility: visible;
    transition: all 200ms ease-in;
}
.scroll-hidden {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
}
.main-container{
    position: absolute;
    top: 180px;
    padding:0 16px;
}
.date p{
    font-size: $fontXL;
    font-weight: bolder;
    margin: 16px 0;
}
.days{
    color: $secondary-color;
}
.dates{
    color: $primary-color;
}
.search-container{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
.search-wrapper{
    height: 85vh;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
    @include flexbox($dir:column, $justify:flex-start);
}
.close-div{
    @include flexbox($justify:flex-end);
    padding: 24px 16px;
    width: 100%;
}
.search-title{
    font-size: $fontXL;
    font-weight: bolder;
    margin: 8px 16px;
    color: $primary-color;
}
.search-input-wrapper{
    @include flexbox;
    padding: 0 8px;
    margin: 8px 0;
}
.search-input-wrapper{
    border: 2px solid $outline-color;
    border-radius: 8px;
}
.search-svg, .result-svg{
    width: 32px;
    height: 32px;
    @include flexbox;
}
.search-svg{
    fill: $button-color;
}
.result-svg{
    fill: $secondary-color;
    background-color: $background-color;
    border-radius: 50%;
}
.search-input, .result-address{
    width: 80vw;
    padding: 8px;
}

.search-input{
    outline: none;
    border: none;
    font-size: $fontXL;
    color: $primary-color;
    caret-color: $button-color;
}
