@import 'variable';
.result-wrapper{
    @include flexbox;
    padding: 0 8px;
    margin: 8px 0;
}
.result-address{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid $outline-color;
    & p:first-child{
        font-size: $fontXL;
        font-weight: bolder;
        color: $primary-color;
    }
    & p:last-child{
        font-size: $fontL;
        color: $secondary-color;
    }
}
